<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yg.blog.dao.BlogForumDao">
  <resultMap id="BaseResultMap" type="yg.blog.pojo.BlogForum">
    <id column="forum_id" jdbcType="INTEGER" property="forumId" />
    <result column="forum_title" jdbcType="VARCHAR" property="forumTitle" />
    <result column="forum_content" jdbcType="VARCHAR" property="forumContent" />
    <result column="forum_img" jdbcType="VARCHAR" property="forumImg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    forum_id, forum_title, forum_content, forum_img
  </sql>
  <select id="selectByExample" parameterType="yg.blog.pojo.BlogForumExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_forum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_forum
    where forum_id = #{forumId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_forum
    where forum_id = #{forumId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="yg.blog.pojo.BlogForumExample">
    delete from blog_forum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="yg.blog.pojo.BlogForum">
    insert into blog_forum (forum_id, forum_title, forum_content, 
      forum_img)
    values (#{forumId,jdbcType=INTEGER}, #{forumTitle,jdbcType=VARCHAR}, #{forumContent,jdbcType=VARCHAR}, 
      #{forumImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yg.blog.pojo.BlogForum">
    insert into blog_forum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="forumId != null">
        forum_id,
      </if>
      <if test="forumTitle != null">
        forum_title,
      </if>
      <if test="forumContent != null">
        forum_content,
      </if>
      <if test="forumImg != null">
        forum_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="forumId != null">
        #{forumId,jdbcType=INTEGER},
      </if>
      <if test="forumTitle != null">
        #{forumTitle,jdbcType=VARCHAR},
      </if>
      <if test="forumContent != null">
        #{forumContent,jdbcType=VARCHAR},
      </if>
      <if test="forumImg != null">
        #{forumImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="yg.blog.pojo.BlogForumExample" resultType="java.lang.Long">
    select count(*) from blog_forum
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_forum
    <set>
      <if test="record.forumId != null">
        forum_id = #{record.forumId,jdbcType=INTEGER},
      </if>
      <if test="record.forumTitle != null">
        forum_title = #{record.forumTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.forumContent != null">
        forum_content = #{record.forumContent,jdbcType=VARCHAR},
      </if>
      <if test="record.forumImg != null">
        forum_img = #{record.forumImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_forum
    set forum_id = #{record.forumId,jdbcType=INTEGER},
      forum_title = #{record.forumTitle,jdbcType=VARCHAR},
      forum_content = #{record.forumContent,jdbcType=VARCHAR},
      forum_img = #{record.forumImg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="yg.blog.pojo.BlogForum">
    update blog_forum
    <set>
      <if test="forumTitle != null">
        forum_title = #{forumTitle,jdbcType=VARCHAR},
      </if>
      <if test="forumContent != null">
        forum_content = #{forumContent,jdbcType=VARCHAR},
      </if>
      <if test="forumImg != null">
        forum_img = #{forumImg,jdbcType=VARCHAR},
      </if>
    </set>
    where forum_id = #{forumId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="yg.blog.pojo.BlogForum">
    update blog_forum
    set forum_title = #{forumTitle,jdbcType=VARCHAR},
      forum_content = #{forumContent,jdbcType=VARCHAR},
      forum_img = #{forumImg,jdbcType=VARCHAR}
    where forum_id = #{forumId,jdbcType=INTEGER}
  </update>
</mapper>